@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box!important;
    font-family: 'Ubuntu', sans-serif!important;
}

:root {

    /* Paleta de cores */
    --blue: #287bff;
    /* --blue: #194B32; */
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --transp: #000000a1;

    /* valores padrões */
    --nav: 300px;
    --minnav: 80px;
}

/* estilo no Scroll */
*::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 5px;
  }

body {
    min-height: 100vh;
    overflow-x: hidden;
}

/* header */
.container {
    position: relative;
    width: 100%;
}

/* nav */
.navigation {
    position: fixed;
    width: var(--nav);
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    color: var(--white);
    text-decoration: none;
}

.navigation ul li a:hover,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
}


.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}


.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}


/* Main */
.main {
    position: absolute;
    width: calc(100% - var(--nav));
    left: var(--nav);
    min-height: 10vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - var(--minnav));
    left: var(--minnav);
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black2);
}

.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}


/* table */
.details-for {
    background: url('../img/Image_Car.jpg');
    background-position: center;
    padding: 2% 0;
    height: calc(100vh - 60px);
    background-size: cover;
}

.details {
    position: relative;
    width: 90%;
    min-height: calc(80vh);
    max-height: 50vh;
    padding: 20px;
    margin-top: 10px;
    margin-left: 5%;
    background: var(--transp);
    box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
    border-radius: 20px;
    overflow-y: auto;

}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    margin-bottom: 40px;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--white);
    font-size: 25px;
}

.cardHeader a {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}


.details table thead td {
    color: var(--white);
    font-weight: 450;
}

.details table tbody tr {
    color: var(--white);
    border-bottom: 1px solid rgb(147 147 147 / 34%);;
}

.details table tr:last-child {
    border-bottom: none;
}

.details table tr:hover {
    background: var(--blue);
    color: var(--white);
}

.details table tr td{
    padding: 10px;
}

.details table tr td:nth-last-child(-n+2) {
    width: 10px;
    text-align: end;
}

.details table tr td:nth-child(3) {
    text-align: center;
}

.details table tr td:nth-child(4) {
    text-align: end;
}

.details table tr ion-icon {
    font-size: 1.2em;
    cursor: pointer;
}

.details table tr td:first-child {
    border-radius: 10px 0 0 10px;
}

.details table tr td:last-child {
    border-radius: 0 10px 10px 0;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.30);
    transition: opacity 0.7s ease-in-out;

}

.popup-container.show {
    pointer-events: auto;
    opacity: 1;
}


.popup-container.shows {
    display: none;
}

.popup-container-form {
    background: var(--white);
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.popup-container-header {
    position: relative;
    width: 100%;
    text-align: center;
}

.popup-container-header ion-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    color: var(--blue);
    padding-right: 15px;
    cursor: pointer;
}

.popup-container-header ion-icon:hover {
    color: var(--black1);

}    

.popup-container-form h2 {
    color: var(--blue);
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 15px;
}

.popup-container form label {
    font-weight: 600;
}

.popup-container form input {
    width: 100%;
    height: 30px;
    border-radius: 40px;
    font-size: 15px;
    outline: none;
    padding: 5px 20px;
    border: 1px solid var(--black2);
}

.popup-container form label, 
.popup-container form input{
    display: block;
    margin-bottom: 9px;

}

.popup-container form button {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 6px;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
}


/* responsive design */ 
@media (max-width: 991px) {
    
    .navigation{
        left: -300px;
    }

    .navigation.active {
        width: 300px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }

@media (max-width: 480px){

    .details {
        overflow-x: scroll;
    }

    .details table tr {
        white-space: nowrap;
    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1;
    }

    .navigation.active {
        width: 100%;
        left: 0;
    }

    .toggle {
        z-index: 2;
    }

    .main.active .toggle{
        position: fixed;
        right: 0;
        left: initial;
        color: var(--black2);
    }

}    
    
} 

